In [13]:
import pandas as pd

In [17]:
data = pd.ExcelFile('V02Max_Combined.xlsx')

In [20]:
print(data)

<pandas.io.excel._base.ExcelFile object at 0x0000016A9D25CD70>

In [22]:
sheet = xls.sheet_names
print('Sheet Names',sheet)

NameError: name 'xls' is not defined

In [24]:
data= pd.read_excel('V02Max_Combined.xlsx')

In [26]:
data.head()

   ID     time     RR       VO2  power
0  11 -168.600  727.0  0.287147      0
1  11 -167.872  728.0  0.287147      0
2  11 -167.148  724.0  0.287147      0
3  11 -166.484  664.0  0.320580      0
4  11 -165.836  648.0  0.320580      0

In [34]:
xls = 'V02Max_Combined.xlsx'

In [36]:
data_Kayaking = pd.read_excel(xls,sheet_name = 'Kayaking')

In [38]:
data_Kayaking.head()

   ID     time     RR       VO2  power
0  11 -168.600  727.0  0.287147      0
1  11 -167.872  728.0  0.287147      0
2  11 -167.148  724.0  0.287147      0
3  11 -166.484  664.0  0.320580      0
4  11 -165.836  648.0  0.320580      0