In [40]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#1 Join all sport-related tables to produce one dataframe that has all athletes values. The final table should only have the same 5 columns: ID, time,power,RR, vo2, power. Write this dataframe to an excel file.

In [241]:
# importing excel data
xls = 'V02Max_Combined.xlsx'

'V02Max_Combined.xlsx'

In [293]:
#importing each sheets in to seperate data frame
data_Kayaking = pd.read_excel(xls,sheet_name = 'Kayaking')
data_Athletes = pd.read_excel(xls, sheet_name = 'Athletes')
data_Triathlon = pd.read_excel(xls,sheet_name =  'Triathlon')
data_Fencing = pd.read_excel(xls,sheet_name =  'Fencing')

C:\Users\Phgan\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\Phgan\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\Phgan\anaconda3\Lib\site-packages\openpyxl\worksheet\_read_only.py:81: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [83]:
data_Triathlon

      ID     time     RR       VO2  power
0     17 -182.408  736.0  0.363762      0
1     17 -181.672  736.0  0.363762      0
2     17 -180.968  704.0  0.363762      0
3     17 -180.268  700.0  0.363762      0
4     17 -179.616  652.0  0.363762      0
...   ..      ...    ...       ...    ...
4976  18  947.288  536.0  0.507071      0
4977  18  947.816  528.0  0.507071      0
4978  18  948.344  528.0  0.507071      0
4979  18  948.884  540.0  0.507071      0
4980  18  949.424  540.0  0.507071      0

[4981 rows x 5 columns]

In [296]:
# Check for duplicate rows
data_Kayaking[data_Kayaking.duplicated()]

Empty DataFrame
Columns: [ID, time, RR, VO2, power]
Index: []

In [89]:
# Check for duplicate rows
data_Triathlon[data_Triathlon.duplicated()]

Empty DataFrame
Columns: [ID, time, RR, VO2, power]
Index: []

In [93]:
# Check for duplicate rows
data_Fencing[data_Fencing.duplicated()]

Empty DataFrame
Columns: [ID, time, RR, VO2, power]
Index: []

In [337]:
# concating all sports datasets
df_sports=pd.concat([data_Kayaking,data_Triathlon,data_Fencing])

In [339]:
df_sports

       ID     time     RR       VO2  power
0      11 -168.600  727.0  0.287147      0
1      11 -167.872  728.0  0.287147      0
2      11 -167.148  724.0  0.287147      0
3      11 -166.484  664.0  0.320580      0
4      11 -165.836  648.0  0.320580      0
...    ..      ...    ...       ...    ...
27598  10  942.700  428.0  0.786363      0
27599  10  943.124  424.0  0.786363      0
27600  10  943.552  428.0  0.786363      0
27601  10  943.976  424.0  0.786363      0
27602  10  944.404  428.0  0.786363      0

[52062 rows x 5 columns]

In [ ]:
# Write the final DataFrame to a new Excel file
output_file = 'merged_athletes_data.xlsx'
df_sports.to_excel(output_file, index=False)
merged_athletes_data

In [345]:
#2 Divide the rows into 3 parts: Warm up, GET(graded exercise test) and cool down using the data def. Label each row accordingly

#importing merged data
data='merged_athletes_data.xlsx'
data_merged = pd.read_excel(data)

In [355]:
#define creteria
warm_up_criteria = data_merged['time'] <0
get_criteria = (data_merged['time'] >= 0) & (data_merged['power']>0)
#cool_down_criteria = data_merged['time'] > data_merged[data_merged['time'] >= 0]['time'].max()

In [357]:
# Apply the criteria to label the rows
data_merged['phase'] = 'cool down'  # Default label, in case none of the criteria match
data_merged.loc[warm_up_criteria, 'phase'] = 'Warm Up'
data_merged.loc[get_criteria, 'phase'] = 'GET'
#data_merged.loc[cool_down_criteria, 'phase'] = 'Cool Down'

In [365]:
data_merged

       ID     time     RR       VO2  power      phase
0      11 -168.600  727.0  0.287147      0    Warm Up
1      11 -167.872  728.0  0.287147      0    Warm Up
2      11 -167.148  724.0  0.287147      0    Warm Up
3      11 -166.484  664.0  0.320580      0    Warm Up
4      11 -165.836  648.0  0.320580      0    Warm Up
...    ..      ...    ...       ...    ...        ...
52057  10  942.700  428.0  0.786363      0  cool down
52058  10  943.124  424.0  0.786363      0  cool down
52059  10  943.552  428.0  0.786363      0  cool down
52060  10  943.976  424.0  0.786363      0  cool down
52061  10  944.404  428.0  0.786363      0  cool down

[52062 rows x 6 columns]

In [380]:
# Write the final creteria DataFrame to a new Excel file
output_file = 'crieteria_data.xlsx'
data_merged.to_excel(output_file, index=False)

In [ ]:
crieteria_data

In [507]:
# 3 What was the average time each tested lasted excluding warm up for all athletes?

#excluding waarm up phase
no_warmup1 = data_merged[data_merged['phase'] != 'Warm Up']

# Calculate the duration for each athlete (i.e., max time for each athlete ID excluding warm-up)
#test_duration_athlete = no_warmup1.groupby(['ID'])['time'].max()

# Calculate the average duration across all athletes
#average_time_phase = test_duration_athlete.mean()

avg_time=no_warmup1.groupby('phase')['time'].mean().reset_index()
avg_time

       phase        time
0        GET  512.492916
1  cool down  993.988405

In [497]:
#5 What was the average time each test lasted (including warm up) for all athletes?

SUB=data_merged.groupby('phase')['time'].mean().reset_index()

In [499]:
SUB

       phase        time
0        GET  512.492916
1    Warm Up  -90.058246
2  cool down  993.988405

In [517]:
#8 What are the names of the kayaking athletes?
#filerting only for kayak sport
kayaking_athletes = data_Athletes[data_Athletes['sport'] == 'kayak']

#printing full name
print(kayaking_athletes['First Name']+" "+kayaking_athletes['Last Name'])

10    Isabella Griffin
11         Caleb Dixon
12       Mia Carpenter
13     Harper Mitchell
14       Mason Wallace
15      Logan Anderson
dtype: object